.breadcrumbs{
  display: flex;
  padding: 20px 0;

  li{
    list-style: none;
    &:after{
      content: '\f105';
      font-family: 'FontAwesome';
      color: #b3b3b3;
      padding:0 5px;
      font-size: 13px;
    }

    a{
      font-size: 11px;
      font-weight: 400;
      color: $accent-color;
      text-decoration: underline;
    }
    &:last-child{
      &:after{
        content: '';

      }
      a{
        color: #b3b3b3;
        text-decoration: none;
      }

    }
  }
}

#info__blocks{
  .clients{
    width: 100%;
    p{
      i{
        color: #0b78dd;
        margin-right: 5px;
      }
    }
    .filter{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      input, select{
        box-shadow: 0 2px 16px rgba(26, 32, 34, 0.1);
        border-radius: 4px;
        border: 1px solid #e3e5e7;
        background-color: #ffffff;
        padding: 13px 14px;
        min-width: 165px;
      }
      .checkbox{
        display: flex;
        align-items: center;
        input[type="checkbox"]{
          width: 16px;
          height: 16px;
          min-width: auto;
          border-radius: 4px;
          border: 1px solid #e3e5e7;
          background-color: transparent;
          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 4, 0.12) 100%);
          margin-right: 5px;
        }
      }
    }
    .table__clients{
      width: 100%;
      table{
        width: 100%;
        border-collapse: collapse;
        border: none;
        color: #1b2225;
        font-size: 13px;
        font-weight: 700;
        tr{
          td{
            padding: 20px 10px;
            max-width: 110px;
            border: 1px solid #ebebeb;
            position: relative;
            i{
              display: inline-block;
              position: absolute;
              right: 10px;
              color: #c6c6c6;
              font-size: 16px;
              cursor: pointer;
            }

            a{
              color: #0b78dd;
              font-size: 13px;
              font-weight: 400;
              text-decoration: underline;
            }
            img{
              width: 37px;
              height: 37px;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              border-radius: 4px;
              object-fit: cover;
            }
          }
        }

        tbody{
          .avatar{
            text-align: center;
          }
          .online{
            text-align: center;
          }
          tr{
            td {
              padding: 10px 10px;
              color: #7f8288;
            }
        }
      }
    }
  }
}
  #pagination{
    display: flex;
    justify-content: flex-end;
    .pagination{
      display: flex;
      border-right:1px solid #e3e5e7;
      box-shadow: 0 2px 16px rgba(26, 32, 34, 0.1);
      border-radius: 4px;
      align-items: center;
      overflow: hidden;
      .prev, .next{
        width: 85px;
        text-align: center;
      }
      .router-link-exact-active{
        background-color: #0b78dd;
        color: #ffffff;
      }
      a{
        color: #7f8288;
        font-size: 13px;
        font-weight: 400;
        padding: 15px;
        display: block;
        text-decoration: none;
        background-color: #ffffff;
        transition: .5s;

        &:hover{
          background-color: #0b78dd;
          color: #ffffff;

        }
      }
      .pagination__page{
        display: flex;
        li{
          list-style: none;
          &:first-child{
            a{
                border-left:1px solid #e3e5e7;
            }
          }
          a{
          border-right: 1px solid #e3e5e7;
          }
        }

      }
    }

  }
}
